* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#list-box {
  background-color: rgb(199, 169, 125);
  border-radius: 15px;
  margin-top: 20px;;
}

li {
  width: 100%;
  margin: 15px;
}

li.completed {
  text-decoration: line-through;
  list-style-type: none;
}

#removeButton {
  margin: 5px;
}